@import "../../../index.scss";

.dark-mode {
  #Cognizance .dropzone .chart-header,
  #Cognizance .dropzone .card-data,
  .extra-buttons button,
  .chart-filter .filters #Cognizance .dropzone .chart-data,
  .input-button-text-form.normal-button,
  .css-56e5ho-control,
  .css-fmzdqv-control,
  .active-filters-block,
  .accordion-body,
  .modal-body,
  .css-132otrx-control,
  .css-hjkm9r-control {
    background-color: var(--body_color) !important;
  }

  #Cognizance .dropzone .chart-card {
    background: #121212 !important;
  }

  #Cognizance .dropzone .chart-card .p-2 {
    border: 1px solid var(--text_white) !important;
  }

  .chart-data.dark-modee {
    background-color: black;
    color: white;
  }

  .chart-data.dark-modee .card-body {
    background-color: black;
    color: white;
  }

  #Cognizance .tab-page-title,
  .extra-buttons button,
  .css-14el2xx-placeholder,
  .accordion-body,
  .css-qc6sy-singleValue,
  .merge-row-block,
  .css-56e5ho-control.dropdown {
    color: var(--text_white) !important;
  }

  .main-div-download .active-filed {
    background: var(--primary_btn_bg);
  }
}
