@import "./functions.scss";

.patent-flex-design {
  .query_heading {
    color: #000;
    font-weight: bold;
    font-size: 14px;

    @include media(mediumDesktopAndDown) {
      font-size: 12px;
    }
  }

  .cm-scroller {
    border: 1px solid #AEAEAE;
    border-radius: 0 0 10px 10px;
    border-top: none;
  }

  .cm-editor {
    height: 108px;

    @media only screen and (max-width: 1880px) {
      height: 71px;
    }
  }

  .isOpen {
    .cm-editor {
      height: 65px;

      @media only screen and (max-width: 1880px) {
        height: 35px;
      }
    }

    .cm-scroller {
      border: 0;
      border-radius: 0 0 10px 10px;
    }

    +.previous_queery {
      .cm-scroller {
        border: 0;
        border-radius: 0 0 10px 10px;
      }

      .cm-editor {
        height: 65px;

        @media only screen and (max-width: 1880px) {
          height: 35px;
        }
      }
    }
  }

  .previous_queery {
    border: 1px solid #AEAEAE;
    border-left: none;
    border-radius: 0 0 10px 0;
    padding: 7px;

    .query_heading {
      display: flex;
      cursor: pointer;
      svg {
        font-size: 20px;
        cursor: pointer;
        margin-left: 10px;
        @include media(mediumDesktopAndDown) {
          font-size: 14px;
          cursor: pointer;
          margin-left: 5px;
        }
      }
    }

    .ͼ1 .cm-line {
      padding: 0;
    }
  }

  .search-section-patent {
    .content-editable {
      &.isOpen {
        .ͼ1 .cm-line {
          padding: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 1366px) {
    .cm-editor {
      height: 35px;
    }
  }
}

.incremental-modal {
  .rs-modal-content {
    width: 89%;
    margin: 0 0 0 auto;
    padding: 0;
  }

  &.modal-class {
    width: 82% !important;
  }

  .close-modal {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
  }

  .query_modal {
    border-bottom: 2px solid #aeaeae;
    padding: 15px 0;
    margin: 0 20px;

    .ͼ1 .cm-line {
      padding: 0;
    }

    .cm-theme .cm-content {
      width: 100%;
    }

    .query_heading {
      color: #000;
      font-weight: bold;
      font-size: 14px;

      @include media(mediumDesktopAndDown) {
        font-size: 12px;
      }
    }
  }

  .history_heading {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    margin: 0 20px;
    padding: 15px 0 10px;
  }

  .history-list {
    padding: 14px 20px;

    &:nth-child(odd) {
      background: #f4f4f4;
    }
  }

  .table-inner {
    display: flex;
    width: 100%;
    flex-flow: column;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    overflow: hidden;
  }

  .header_wrapper {
    font-size: 14px;
    font-weight: 600;
    background: #f4f4f4;
    border-bottom: 1px solid #aeaeae;

    .table-column {
      border-bottom: none !important;
    }
  }

  .body_wrapper {
    display: flex;
    flex-flow: column;
    width: 100%;

    .table-row {
      &:nth-child(even) {
        .table-column {
          background: #f4f4f4;
        }
      }

      &:last-child .table-column {
        border-bottom: none;
      }
    }
  }

  .table-row {
    display: flex;
    clear: both;

    .table-column {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-bottom: 1px solid #aeaeae;
      border-right: 1px solid #aeaeae;
      border-left: 0;
      padding: 11px 10px;
      line-height: 1;
      vertical-align: middle;
      margin: 0;

      &.form-check {
        width: 8%;
      }

      &.numbers {
        width: 12%;
      }

      &.records {
        width: 20%;
      }

      &.search-query {
        width: 60%;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .pagination-action-buttons {
    .container {
      max-width: 100% !important;

      .pagination {
        width: 900px;

        .rc-pagination-prev button,
        .rc-pagination-item,
        .rc-pagination-next button {
          height: 30px;
        }
      }
    }

    .per_page_block {
      display: none !important;
    }
  }
}

.result-base-info {
  margin: 0 28px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  display: flex;
  align-items: center;
}

.pages_input_box {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  width: 53px;
  padding: 0 5px;
  outline: 0;
  height: 25px;
  text-align: center;
  font-size: 12px;
}
.go-btn {
  background: #0048a2;
  border: 1px solid #0048a2;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: sans-serif;
  color: #ffffff;
  height: 25px;
  width: 28px;
  font-size: 12px;
}

.red_border {
  color: red;
  border: 1px solid red;
  background: #fff5f5c0;
  box-sizing: border-box;
  border-radius: 5px;
  width: 60px;
  padding: 0 5px;
  outline: 0;
  height: 25px;
  text-align: center;
}
