@import "./functions.scss";

.main-number-design {
  .text_wrapper_number {
    min-width: 400px;
    @include media(smallMediumDesktop) {
      min-width: 400px;
    }

    @include media(smallDesktopAndDown) {
      min-width: 320px;
    }
    @include media(largeDesktopAndUp) {
      min-width: 490px;
    }
  }

  .cm-scroller {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    background-color: #f4f4f4;
  }

  .cm-theme .cm-content {
    width: 1100px;
    @media only screen and (max-width: 1680px) {
      width: 640px;
      @include media(smallDesktopDown) {
        width: 580px;
      }
    }
  }
  .cm-theme .ͼ1.cm-focused .cm-matchingBracket {
    background-color: #f4f4f4;
  }
  .cm-selectionBackground {
    z-index: -1 !important;
  }

  .number-section {
    .dropdown {
      border-radius: 10px;
      text-align: left;
      margin-left: 4px;
      @include media(largeDesktopAndUp) {
        margin: 30px 4px;
      }
      .dropdown-toggle.btn.btn-primary {
        border: 1px solid #aeaeae;
        border-radius: 10px;
        background-color: #ffffff;
        color: #000000;
        text-align: left;
        font-weight: normal;
        box-shadow: none !important;
        text-align: center;
        padding-top: 8px;
        min-width: 128px;
        @media only screen and (max-width: 1536px) {
          min-width: 97px;
        }
        &::after {
          margin-left: 1.255em;
        }
      }
    }
    .file-upload {
      position: relative;
      @include media(largeDesktopAndUp) {
        margin: 30px 4px;
      }
      .upload-btn {
        display: flex;
        align-items: center;
        border: 1px solid #aeaeae;
        border-radius: 10px;
        background-color: #ffffff;
        color: #000000;
        text-align: left;
        font-weight: normal;
        padding: 9px 20px;
        line-height: 1;
        width: 150px;
        cursor: pointer;
        .img-fluid {
          font-size: 20px;
          margin-right: 5px;
        }
      }
      input[type="file"] {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
        width: 125px;
      }
      .file-name {
        width: calc(100% - 96px);
        margin-left: 30px;
        height: 30px;
        text-align: left;
        border-bottom: 1px solid #707070;
        color: #707070;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: default;
        white-space: nowrap;
      }
    }

    #final-result {
      color: #707070;
      font-size: 14px;
      margin-bottom: -8px;
    }

    .error {
      color: red;
    }
  }
}

@media screen and (max-width: 1536px) {
  .main-number-design {
    .number-section {
      .rs-checkbox label {
        font-size: 13px;
        line-height: 13px;
      }
      .dropdown-toggle.btn {
        padding: 0 0.75rem;
      }
      .dropdown-toggle.btn.btn-primary {
        height: 30px;
        font-size: 13px;
        width: fit-content;
      }
      .radio-types-flex {
        margin-left: 10px;
        margin-top: 0.2rem;
        .rs-checkbox-inline {
          margin-left: 0;
        }
      }
      .file-upload {
        position: relative;
        .upload-btn {
          width: fit-content !important;
          font-size: 13px;
          height: 30px;
          padding: 9px 15px !important;
          .img-fluid {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    .label-text {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 1536px) {
  .main-number-design .number-section {
    .rs-checkbox label {
      font-size: 12px;
      line-height: 12px;
    }
    .dropdown {
      .dropdown-toggle.btn.btn-primary {
        padding-top: 0;
      }
    }
  }
}
