@import "../../../index.scss";

.dark-mode {
  .forgot-password-page .d-none {
    background-color: var(--search_background) !important;
  }
  .form-control {
    background-color: var(--body_color) !important;
  }

  .login-page-design form {
    background-color: #121212;
  }
  .forgot-main .email-link-info p {
    background-color: #00008b !important;
  }
}
