@import "../../../index.scss";

.dark-mode {
  .per_page_block,
  .jump-pages {
    color: var(--text_white);
  }
  .history-page {
    .tab-main .tablink-selected {
      background-color: var(--primary_btn_bg) !important;
    }

    .action-buttons-block button,
    .combine_section textarea,
    .combine-buttons button {
      background-color: var(--body_color) !important;
    }

    .pagination-action-buttons {
      border-left: none !important;
      border-right: none !important;
    }

    .tab-main .tablink-selected {
      color: var(--link_color) !important;
    }

    .jump_to_page input,
    .pagination .rc-pagination-item {
      border: 1px solid var(--text_white) !important;
    }

    .action-buttons-block button,
    .combine_section .combine_textarea,
    .combine-buttons button,
    .per_page_block,
    .jump-pages {
      color: var(--text_white);
    }

    .action-buttons-block button img,
    .combine-buttons button img {
      filter: invert(100%);
    }

    .tab-main .tablink-selected img {
      filter: none;
    }
  }
}
