@import "../../../index.scss";

.dark-mode {
  .not-found-page {
    .banner-img,
    .not-found-page-content .back-to-home-page-btn {
      background-color: var(--body_color) !important;
    }
  }

  .not-found-page-content {
    color: var(--text_white);
  }

  .not-found-page .not-found-page-content .back-to-home-page-btn {
    border: 1px solid var(--text_white) !important;
  }
}
