@import "../../../index.scss";

.dark-mode {
  .patent-view-body .view-tables table,
  .view-tabs button,
  .classification-block button,
  .view-tables table th,
  .citations_filter button,
  .citation__filter__modal,
  .section-select,
  .section-select .css-p3rzlp-control,
  .view-page-btn,
  .inner .view-tables table,
  .rs-modal-content .side .section-select .css-1d7cy4f-control,
  .css-Id7cy4f-control .css-2613qy-menu,
  .filter-pub-app-family .form-check-input,
  .css-26l3qy-menu,
  .patent-view-main-bg,
  .patent-view-main-bg .patent-view-body,
  .action-arrow {
    background-color: var(--body_color) !important;
  }

  .patent-view-main-bg,
  .view-header-main {
    background: var(--body_color) !important;
  }

  .view-tabs button,
  .patent-view-body .css-1f46no7-control,
  .citation__filter__modal,
  .rs-modal-content .css-1f46no7-control,
  .filter-pub-app-family .form-check-input,
  .modal-expert .dnd-export {
    border: 1px solid var(--text_white) !important;
  }

  .modal-expert .dnd-export {
    border-radius: 0 0 10px 10px;
  }

  .view-tabs button,
  .modal-expert .select-filed-export {
    border: 1px solid var(--text_white) !important;
    border-bottom: none !important;
    border-radius: 10px 10px 0 0;
  }

  .view-tabs {
    border-bottom: 1px solid var(--text_white) !important;
  }

  .modal-expert .select-filed-export {
    font-weight: 700;
  }

  .view-tabs button,
  .rs-modal-content .rs-modal-header .pub-no,
  .rs-modal-content .css-qc6sy-singleValue,
  .patent-title,
  .section-select .css-qc6sy-singleValue,
  .view-page-btn,
  .rs-modal-body .body-section .side,
  .inner .claims-block,
  .inner .abstract-block-modal,
  .inner .modal-patent-info h5,
  .inner .modal-others-block .classification-block,
  .inner .view-tables table,
  .inner .view-tables table th,
  .inner .legal-events-heading,
  .inner .rs-checkbox-checker,
  .inner .view-tables table td:nth-child(2),
  .details .font-weight-normal,
  .details .font-weight-normal .inventor,
  .css-26l3qy-menu,
  .patent-view-body p {
    color: var(--text_white) !important;
  }

  .citation__filter__modal .citation__filter__checkbox:hover,
  .css-26l3qy-menu .css-qc6sy-singleValue:hover,
  .view-tabs > div:last-child button {
    color: var(--text_black) !important;
  }

  .classification-block button svg,
  .view-tables table th img,
  .citation__filter__btn svg {
    filter: invert(100%) !important;
  }

  .view-tabs button:hover,
  .action-arrow:hover {
    background-color: var(--link_color) !important;
  }

  .patent-view-body {
    .pub-no,
    .patent-title,
    .abstract-block,
    .patent-view-image-section,
    .css-qc6sy-singleValue,
    .patent-details-block,
    .only-claim-section,
    .scroll-MarginTop,
    .desc-only-block .mapped-text > p,
    .legal-events-heading,
    .view-tables table .event-code-clm:not(th),
    .view-tables table th,
    .view-tables table td:nth-child(2) {
      color: var(--text_white) !important;
    }
  }

  .patent-view-main-bg .view-tabs:not(:first-child) {
    border-bottom: 2px solid var(--text_white) !important;
  }

  .view-tabs > div:last-child button {
    background-color: var(--primary_btn_bg) !important;
  }

  .patent-view-image-section .show-all-btn {
    color: #4f93e9 !important;
  }

  .modal-expert .filters-sublist-export {
    background-color: var(--search_background) !important;
    border-radius: 10px;
  }

  .rs-checkbox-checked .rs-checkbox-wrapper .rs-checkbox-inner:before,
  .rs-checkbox-checked .rs-checkbox-wrapper:hover .rs-checkbox-inner:before {
    border-color: #ddecff !important;
  }

  .pub-no .pub-no-dot {
    background-color: var(--text_white);
  }

  .download-pdf-icon {
    filter: invert(1);
  }

  .highlight-tooltip-box {
    background-color: var(--text_white);
    color: black;
  }
  .annotations-icons {
    color: black;
  }

  .remove-highlight,
  .remove-comment {
    background-color: var(--text_white);
    color: black;
    &.visible:after {
      border-top: 5px solid var(--text_white);
    }
  }
  .tooltip-inner {
    background-color: var(--text_white);
  }
  .highlight-tooltip-box:after {
    border-top: 5px solid var(--text_white);
  }
}
