@import "../../../index.scss";

.dark-mode {
  .quick-view {
    .single-result-patent,
    .quick-view-body:not(.quick-view-body) .gray-bg,
    .quick-view-body .details-sect,
    .header button,
    .search-query button,
    .filter-btn,
    .filters-list-modal,
    .filter-section-clear-btn {
      background-color: var(--body_color) !important;
    }
  }

  .quick-view:not(.primary-bg) {
    background-color: var(--body_color) !important;
  }

  .quick-view {
    .header button img,
    .search-query button img,
    .filters-list-modal button img,
    .filters-applied-section img {
      filter: invert(100%) !important;
    }
  }

  .quick-view {
    .primary-bg,
    .blue-bg,
    .quick-view-footer,
    .quick-view-footer .result-page > select,
    .inside-highlight-result-page button {
      background-color: var(--search_background) !important;
    }
  }

  .quick-view {
    .inside-highlight-result-page button:hover {
      background-color: var(--link_color) !important;
    }
  }

  .quick-view > div:first-child {
    background: var(--search_background) !important;
  }

  .quick-view {
    .quick-view-body div,
    .match-header .text,
    .partial-results-list > div > p,
    .full-results-list > div > p,
    .header button,
    .search-query button,
    .filter-btn .vertical-center,
    .partial-results-list .text-black::marker,
    .full-results-list .text-black::marker,
    .quick-view-footer .result-page,
    .filters-list-modal,
    .filters-applied-section,
    .result-base-info,
    .patent-filter {
      color: var(--text_white) !important;
    }
  }

  .quick-view {
    .quick-view-body .details-sect,
    .header button,
    .search-query button,
    .filter-btn,
    .quick-btn button,
    .rs-pagination-group .rs-pagination-btn-active,
    .single-result-patent,
    .content-editable.isOpen,
    .previous_queery {
      border: 1px solid var(--text_white) !important;
    }
  }

  .rs-modal-content .sidebar-patents {
    border-right: 1px solid var(--text_white) !important;
  }

  .quick-view {
    .header button:hover {
      background-color: var(--link_color) !important;
    }
  }

  .quick-view {
    .partial-results-list {
      border: none;
    }
  }

  .quick-view {
    .rs-pagination-group .rs-pagination-btn-active {
      background-color: var(--primary_btn_bg);
    }
  }

  .quick-view {
    .rs-pagination-group .rs-pagination-btn-active {
      color: var(--text_black) !important;
    }
  }

  .quick-view .single-result-patent {
    box-shadow: none;
  }

  .quick-view {
    .viewBody-width,
    .view-boxes {
      box-shadow: none !important;
    }
  }

  .quick-view .view-boxes {
    background-color: var(--search_background) !important;
  }

  .filter-modal-body .patent-filter {
    background-color: var(--search_background) !important;
    color: var(--text_white);
  }

  .borderSect::-webkit-scrollbar-thumb {
    background:#FFFFFF !important;
  }
  .quick-view .single-result-patent.selected{
    border: 2px solid var(--text_white) !important;
    background-color: var(--search_background) !important;
  }
}
