@import "../../../index.scss";

.dark-mode {
  .sidebar-patents .filter-setting-modal,
  .sidebar-patents .filter-setting-modal .filter-settings-search-input,
  .side-list .filter-modal .filters-sublist,
  .filter-right-section .table-dropdown,
  .sort-list .sort-dropdown,
  .edit-field-modal .rs-modal-content,
  .content-editable,
  .previous_queery,
  .form-check .dropdown-menu,
  .form-check .dropdown-menu.show,
  .rs-modal-content .history-details,
  .result-page select option,
  .rs-modal-dialog .rs-modal-content,
  .rs-modal-dialog .rs-modal-content .export-headname,
  .modal-expert .export-type option,
  .filter-right-section .table-button,
  .filter-right-section button,
  .rs-modal-content .rs-input,
  .rs-modal-content .modal-expert .form-select,
  .result-page select,
  .search-result-pagination-main .search-query button,
  .patent-right-side .input-button-text-form,
  .filter-modal .rs-input,
  .rs-checkbox-checked .rs-checkbox-wrapper span::before,
  .patent-right-side .filters-list-modal {
    background-color: var(--body_color) !important;
  }

  .filter-table .filer-section button,
  .filter-section button {
    background: var(--body_color);
  }

  .tab-patents button svg,
  .filter-right-section .table-button img,
  .filter-right-section button img,
  .rs-modal-content .highlight-keyword img,
  .search-result-pagination-main .search-query button img,
  .modal-expert .export-download img,
  .modal-expert .export-save img,
  .modal-expert .footer-emailer img,
  .patent-right-side .input-button-text-form img,
  .filter-table .closeImg,
  .filter-section-clear-btn img {
    filter: invert(100%) !important;
  }

  .rs-modal-content .apply-highlight-button,
  .filter-modal .btn {
    background-color: var(--primary_btn_bg) !important;
  }

  .sidebar-patents .filter-list-container .filter-setting-list > div {
    background-color: var(--text_white) !important;
  }

  .patent-right-side:not(.filter-modal) .tab-patents button:hover,
  .filter-right-section .table-sort-dropdown .table-button:hover,
  .filter-right-section button:hover,
  .search-result-pagination-main .search-query button:hover ,.go-btn:hover{
    background-color: var(--link_color) !important;
  }

  .header-patent-main,
  .patent-filter,
  .filters-section-bg,
  .filter-section-clear-btn,
  #dropdown-basic {
    background-color: var(--search_background) !important;
  }

  .filters-view-btn {
    background-color: var(--primary_btn_bg);
  }

  .filter-btn-active ,.red_border {
    background-color: var(--header_bg) !important;
  }

  .table-striped tbody tr:nth-of-type(even),
  .hide-query .cm-editor,
  .sidebar-patents,
  .fielded-inner .fields-form,
  .filters-sublist-export {
    background-color: var(--feature-bg) !important;
  }

  .side-list .filter-modal,
  .rs-modal-content .customize {
    background-color: var(--search_background);
  }

  .patent-right-side,
  .result-page-table,
  .form-check-label,
  .selected-count,
  .hide-query .cm-editor .cm-line,
  .form-check-label .family-list button,
  .filter-setting-modal,
  .side-list .filter-modal .filters-sublist,
  .filter-clearAll-btn,
  .filter-modal .rs-checkbox-checker label,
  .sort-list .dropdown-item,
  .patent-info .inventor,
  .content-editable .query_heading,
  .previous_queery .query_heading,
  .rs-modal-content .history-details .query_heading,
  .rs-modal-content .history-details .history_heading,
  .result-page select option,
  .rs-pagination-btn,
  .rs-modal-dialog .rs-modal-content .export-headname,
  .load-from-template,
  .clearAll-btn,
  .filters-sublist-export,
  .dnd-export .selected-list .label-value-drag,
  .export-save,
  .email-hard,
  .dnd-export .selected-list .delete-selected,
  .modal-expert .export-type option,
  .tab-patents button,
  .filter-right-section .table-button,
  .filter-right-section span,
  .rs-modal-content .highlight-keyword,
  .rs-modal-content h6,
  .rs-modal-content .rs-input,
  .rs-modal-content .customize-heading,
  .search-result-pagination-main .search-query button,
  .patent-right-side .input-button-text-form,
  .filter-modal .rs-input,
  .filter-section .filter-section-clear-btn,
  .sidebar-patents .filter-setting-modal .filter-settings-search-input,
  .rs-modal-content .modal-expert .form-select,
  .rs-modal-content .customize > div > div,
  .rs-modal-content .customize .list-unstyled .keyword-word,
  .patent-right-side .filters-list-modal,
  .filter-section-clear-btn {
    color: var(--text_white) !important;
  }

  .export-download {
    color: var(--text_white) !important;
    opacity: 1 !important;
  }

  .family-wrapper .dropdown-menu > div:hover > a > label,
  .sort-list .dropdown-item:hover,
  .rs-pagination-btn:hover:not(.rs-pagination-btn-active),
  .filter-modal .btn:hover,
  .filters-view-btn {
    color: var(--text_black) !important;
  }

  .search-result-pagination-main {
    color: #ffffff;
    background-color: var(--feature-bg) !important;
  }

  .sidebar-patents p {
    color: var(--text_white);
  }

  .side-list button:not(.filter-btn-active):hover p {
    color: var(--text_black);
  }

  .side-menu-patent-button p {
    cursor: pointer;
  }

  .filter-model-fixed:hover {
    pointer-events: none;
  }

  .filter-modal {
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--text_white);
  }

  .history-details .query_modal {
    border-bottom: 1px solid var(--text_white);
  }

  .patent-right-side .input-button-text-form,
  .sidebar-patents .filter-setting-modal .filter-settings-search-input,
  .patent-right-side:not(.filter-modal) .tab-patents button {
    border: 1px solid var(--text_white);
  }

  .patent-right-side:not(.filter-modal) .tab-patents button {
    border: 1px solid var(--text_white);
    border-bottom: none;
  }

  .rs-checkbox-wrapper[aria-checked="true"] {
    border-color: var(--text_white) !important;
  }

  .result-page-table .table,
  .table-striped tbody tr:nth-of-type(odd),
  .result-page-table .table > thead {
    background-color: var(--feature-bg);
  }

  .result-page-table .table td,
  .result-table-pub-no .publication-no,
  .result-page-table .table > thead > tr > th {
    color: var(--text_white) !important;
  }

  .highlight-word ,.item-color{
    background-color: #8e8e93 !important;
  }

  .keyword-color .color-btn{ 
    background-color: #8e8e93 !important;
  }

  .hide-query ::selection {
    color: var(--text_black);
  }

  .login-page-design .login-main {
    background: var(--feature-bg) !important;
  }

  .filter-pub-app-family .form-check-input::before {
    background-color: blue !important;
  }

  .filter-right-section .sort-list .dropdown-item {
    font-weight: 500;
  }

  .patent-right-side:not(.filter-modal) .tab-patents button {
    border: 1px solid var(--text_white);
    border-bottom: none;
    background-color: #494949 !important;
  }

  .pages_input_box,.go-btn{
    background-color: var(--header_bg);
    border: 1px solid var(--text_white);
    border-radius: 5px;
    
  }

  .rs-modal-dialog .rs-modal-content .export-headname{
    background-color: #575757 !important;
  }
}
